<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
    {{>head}}
    <img src="./img/IMG_2632.JPG" width=250px alt="">
    </div>
    {{>footer}}
</body>
</html>