<!--this is called handle bar module from npm which allow you to interact with js files-->
<!--This is call dynamic page where it handles multiples pages of htmls better than standard html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    <div class="main-content">
        {{>head}} {{!-- {{>head}} <!--This allows to you pass in another hbs file or hbs partial-->--}}
        <p>Get your weather!</p>
        <form action="">
            <input placeholder="Location" type="text">
            <button>Search</button>
        </form>
        <div id="location-1"></div>
        <div id="weather"></div>
    </div>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>
</html>